<div class="p-2 rounded-lg bg-slate-300">
  <%= message.content %>
  <div class="italic text-xs text-slate-700">
    <span>Sent at: </span>
    <span data-timezone-target="time" data-utc-time="<%= message.created_at.iso8601 %>">
    </span>
  </div>
</div>
