<div class="flex flex-col mx-auto w-full items-center flex-1">
  <turbo-frame id="room-content">
    <div class="flex flex-col gap-4 p-2 mb-2 items-center">
      <% @rooms.each do |room| %>
        <%= link_to room do%>
          <button type="button" class="w-[20rem] break-words bg-slate-300 hover:bg-slate-200 rounded-md p-3 ">
            <div class="text-wrap">
              <%= room.name %>
            </div>
          </button>
        <% end %>
      <% end %>
    </div>
    <%= link_to new_room_path do %>
      <button type="button" class="w-full rounded-lg bg-slate-500 text-white">
        +
      </button>
    <% end %>
  </turbo-frame>
</div>
