<div class="flex flex-col w-full items-center gap-4">
  <h1 class="font-bold text-4xl mx-auto">
    <%= @room.name %>
  </h1>
  <div id="messages" data-controller="timezone" class="min-w-[20rem] py-2 mx-[5rem] flex flex-col gap-2 h-[15rem] overflow-y-auto flex-col-reverse">
    <%= render @messages%>
    <%= turbo_stream_from @room %>
  </div>
  <%= render "messages/form", locals: {room: @room, message: @message}%>
</div>
